{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container everything">
      {% if current_user.is_authenticated %}
      <h3>New Pitch:</h3>
      <div>
        <form class="form" id ="createform" autocomplete="off">
          <div class="form-group">
            <label for="Pitch">Pitch:</label>
            <input id="Pitch" class="form-control" cols="30" rows="5" placeholder="Type Pitch" name="pitch" required></input>
          </div>
          <div class="form-group">
            <label for="catchoose">Category:</label>

            <select name="category" id="catchoose" class="form-control" onchange="recordchange(this.selectedIndex,{{categories.__len__()}})">
              {% for category in categories %}
                <option value="{{category[0]}}" style="color: #555">{{category[0]}}</option>
              {% endfor %}
              <option value="-" style="color: #000">New</option>
            </select>
            <input type="text" id="manual" class="form-control" style="display: none" placeholder="Type new category">

          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      {% endif %}
      <h3 class="navbarpadder">Pitches:</h3>
      <div id="myBtnContainer">
        <button class="btn" onclick="filterelements('post')">Show all</button>
        {% for category in categories %}
          <button class="btn" onclick="filterelements('{{category[0].replace(' ','-')}}')">{{category[0]}}</button>
        {% endfor %}
      </div>
      <div id="pitches" class="panel-group">
        {{ macro.displayposts(posts,current_user) }}
      </div>
    </div>
{% endblock %}
