{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">
      {% if current_user.is_authenticated %}
      <script src="/static/js/script.js"></script>
      <h3>New Pitch</h3>
      <div class="rightist">
        <form class="form" id ="createform">
          <textarea id="Pitch" class="form-control" cols="30" rows="5" placeholder="Type Pitch"></textarea>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      {% endif %}
      <h3 class="navbarpadder">Pitches:</h3>
      <div id="myBtnContainer">
        <button class="btn" onclick="filterelements('post')">Show all</button>
        {% for category in categories %}
          <button class="btn" onclick="filterelements('{{category[0].replace(' ','-')}}')">{{category[0]}}</button>
        {% endfor %}
      </div>
      <div id="pitches" class="panel-group">
        {{ macro.displayposts(posts,current_user) }}
      </div>
    </div>
{% endblock %}
