{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">
      {% if current_user.is_authenticated %}
      <script src="/static/js/script.js"></script>
      <h3>New Pitch</h3>
      <div class="rightist">
        <form class="form" id ="createform">
          <textarea id="Pitch" class="form-control" cols="30" rows="5" placeholder="Type Pitch"></textarea>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      {% endif %}
      <div class="pitches">
        {{ macro.displayposts(posts) }}
      </div>
    </div>
{% endblock %}
