{% macro displayposts(posts) %}
    {% for post in posts %}
    	<div class="col-xs-12 col-md-6 col-lg-4 panel panel-default pull-left">
    		<p class="panel-body">{{post.text}}</p>
        <div class="panel-footer">
          {{post.id}}
          <div class="pull-right">
            <button class="glyphicon glyphicon-thumbs-up" onclick="like({{post.id}})"></button>
            <button class="glyphicon glyphicon-thumbs-down" onclick="dislike({{post.id}})"></button>
          </div>
        </div>
    	</div>
    {% endfor %}
{% endmacro %}
